<section>
	<div class="row">        
        <div class="col-sm d-flex flex-column align-items-center"><br />
        <i class="fas fa-user-circle fa-7x"></i><br />
        <h2>Bastien</h2>
        <p class=text-justify>27 ans, Paris, développeur ruby. Passionné de Rocket League, recrute partenaire potentiel !</p><br />
        </div>
    </div>
</section>