<% if @gossip.errors.any? %>
  <div class="alert alert-danger mt-3" role="alert">
    <p>Gossip update process failed due to:</p>
      <ul>
      <% @gossip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @gossip do |f| %>
  <div class="form-group">
    <%= f.text_field :title, class: 'form-control mt-3'%>
    <%= f.text_field :content, class: 'form-control mt-1'%>
    <button type="submit" class="btn btn-secondary mt-1"> Edit gossip</button>
  </div>
<% end %>