<h2 class="d-flex justify-content-center mt-3">Bienvenue sur The Gossip Project</h2>

<div class="row mt-3">
	<% @gossips.each do |gossip| %>
		<div class="card mx-auto mb-5" style="width: 15rem;">
		  <div class="card-body">
		    <h5 class="card-title"><%= gossip.title %></h5>
		    <p class="card-text"><%= gossip.user.first_name %><%= gossip.user.last_name %></p>
		    <a href="#" class="btn btn-primary">Show gossip</a>
		  </div>
		</div>
	<% end %>
</div>